# ðŸš— Car price prediction 
 
**Author:** JosÃ© AntÃ´nio Afonso   
**Country:** Angola 


---

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import mean_absolute_error,r2_score,max_error
from sklearn.preprocessing import OneHotEncoder

In [4]:
df = pd.read_csv("../data/car data.csv")

In [5]:
df.head()

  Car_Name  Year  Selling_Price  Present_Price  Driven_kms Fuel_Type Selling_type Transmission  Owner
0     ritz  2014           3.35           5.59       27000    Petrol       Dealer       Manual      0
1      sx4  2013           4.75           9.54       43000    Diesel       Dealer       Manual      0
2     ciaz  2017           7.25           9.85        6900    Petrol       Dealer       Manual      0
3  wagon r  2011           2.85           4.15        5200    Petrol       Dealer       Manual      0
4    swift  2014           4.60           6.87       42450    Diesel       Dealer       Manual      0

In [6]:
9df.dtypes

Car_Name          object
Year               int64
Selling_Price    float64
Present_Price    float64
Driven_kms         int64
Fuel_Type         object
Selling_type      object
Transmission      object
Owner              int64
dtype: object

In [34]:
df.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Driven_kms       0
Fuel_Type        0
Selling_type     0
Transmission     0
Owner            0
dtype: int64

In [54]:
print(df[['Selling_Price','Car_Name','Owner']].value_counts())

Selling_Price  Car_Name             Owner
5.95           verna                0        2
4.00           amaze                0        2
7.75           ertiga               0        2
0.50           Bajaj Pulsar NS 200  0        2
7.50           ciaz                 0        2
                                            ..
1.95           sx4                  0        1
2.00           eon                  0        1
2.10           city                 0        1
2.25           dzire                0        1
35.00          land cruiser         0        1
Name: count, Length: 284, dtype: int64

In [58]:
print(df[['Selling_Price','Fuel_Type']].value_counts())

Selling_Price  Fuel_Type
0.60           Petrol       8
0.45           Petrol       8
5.25           Petrol       7
4.50           Petrol       6
0.20           Petrol       6
                           ..
3.80           Petrol       1
3.65           Petrol       1
3.60           Petrol       1
3.51           Petrol       1
35.00          Diesel       1
Name: count, Length: 174, dtype: int64

In [59]:
plt(kind='scatter',x='Fuel_Type',y='Selling_Price',figsize=(10,3))
plt.show()

TypeError: 'module' object is not callable

In [55]:
df.Owner.value_counts()

Owner
0    290
1     10
3      1
Name: count, dtype: int64

In [12]:
print(df['Car_Name'].value_counts())
print("\n")
print(df['Selling_type'].value_counts())
print("\n")
print(df['Transmission'].value_counts())
print("\n")
print(df['Fuel_Type'].value_counts())

Car_Name
city                        26
corolla altis               16
verna                       14
fortuner                    11
brio                        10
                            ..
Honda CB Trigger             1
Yamaha FZ S                  1
Bajaj Pulsar 135 LS          1
Activa 4g                    1
Bajaj Avenger Street 220     1
Name: count, Length: 98, dtype: int64


Selling_type
Dealer        195
Individual    106
Name: count, dtype: int64


Transmission
Manual       261
Automatic     40
Name: count, dtype: int64


Fuel_Type
Petrol    239
Diesel     60
CNG         2
Name: count, dtype: int64

In [13]:
ohe = OneHotEncoder()
ohe_transform = ohe.fit_transform(df[['Fuel_Type','Transmission','Selling_type']])

In [16]:
#Array values
ohe_transform.toarray()

array([[0., 0., 1., ..., 1., 1., 0.],
       [0., 1., 0., ..., 1., 1., 0.],
       [0., 0., 1., ..., 1., 1., 0.],
       ...,
       [0., 0., 1., ..., 1., 1., 0.],
       [0., 1., 0., ..., 1., 1., 0.],
       [0., 0., 1., ..., 1., 1., 0.]], shape=(301, 7))

In [19]:
#Transform the array to a dataframe
df_ohe = pd.DataFrame(ohe_transform.toarray())
df_ohe.head()

     0    1    2    3    4    5    6
0  0.0  0.0  1.0  0.0  1.0  1.0  0.0
1  0.0  1.0  0.0  0.0  1.0  1.0  0.0
2  0.0  0.0  1.0  0.0  1.0  1.0  0.0
3  0.0  0.0  1.0  0.0  1.0  1.0  0.0
4  0.0  1.0  0.0  0.0  1.0  1.0  0.0

In [22]:
#Giving readable and familiar names to the df_ohe columns
df_ohe.columns =ohe.get_feature_names_out()
df_ohe.head()

   Fuel_Type_CNG  Fuel_Type_Diesel  Fuel_Type_Petrol  Transmission_Automatic  Transmission_Manual  Selling_type_Dealer  Selling_type_Individual
0            0.0               0.0               1.0                     0.0                  1.0                  1.0                      0.0
1            0.0               1.0               0.0                     0.0                  1.0                  1.0                      0.0
2            0.0               0.0               1.0                     0.0                  1.0                  1.0                      0.0
3            0.0               0.0               1.0                     0.0                  1.0                  1.0                      0.0
4            0.0               1.0               0.0                     0.0                  1.0                  1.0                      0.0

In [24]:
#Concanate the 2 databases
df_final = pd.concat([df,df_ohe])

In [25]:
df_final.head()

  Car_Name    Year  Selling_Price  Present_Price  ...  Transmission_Automatic Transmission_Manual Selling_type_Dealer Selling_type_Individual
0     ritz  2014.0           3.35           5.59  ...                     NaN                 NaN                 NaN                     NaN
1      sx4  2013.0           4.75           9.54  ...                     NaN                 NaN                 NaN                     NaN
2     ciaz  2017.0           7.25           9.85  ...                     NaN                 NaN                 NaN                     NaN
3  wagon r  2011.0           2.85           4.15  ...                     NaN                 NaN                 NaN                     NaN
4    swift  2014.0           4.60           6.87  ...                     NaN                 NaN                 NaN                     NaN

[5 rows x 16 columns]

In [26]:
df_final.isnull().sum()

Car_Name                   301
Year                       301
Selling_Price              301
Present_Price              301
Driven_kms                 301
Fuel_Type                  301
Selling_type               301
Transmission               301
Owner                      301
Fuel_Type_CNG              301
Fuel_Type_Diesel           301
Fuel_Type_Petrol           301
Transmission_Automatic     301
Transmission_Manual        301
Selling_type_Dealer        301
Selling_type_Individual    301
dtype: int64

In [27]:
df_final.Car_Name.value_counts()

Car_Name
city                        26
corolla altis               16
verna                       14
fortuner                    11
brio                        10
                            ..
Honda CB Trigger             1
Yamaha FZ S                  1
Bajaj Pulsar 135 LS          1
Activa 4g                    1
Bajaj Avenger Street 220     1
Name: count, Length: 98, dtype: int64

In [38]:
df_final.tail()

    Car_Name  Year  Selling_Price  Present_Price  ...  Transmission_Automatic Transmission_Manual Selling_type_Dealer Selling_type_Individual
296      NaN   NaN            NaN            NaN  ...                     0.0                 1.0                 1.0                     0.0
297      NaN   NaN            NaN            NaN  ...                     0.0                 1.0                 1.0                     0.0
298      NaN   NaN            NaN            NaN  ...                     0.0                 1.0                 1.0                     0.0
299      NaN   NaN            NaN            NaN  ...                     0.0                 1.0                 1.0                     0.0
300      NaN   NaN            NaN            NaN  ...                     0.0                 1.0                 1.0                     0.0

[5 rows x 16 columns]

In [43]:
df_final.drop(['Fuel_Type','Transmission','Selling_type'],axis=1)

    Car_Name    Year  Selling_Price  Present_Price  ...  Transmission_Automatic  Transmission_Manual  Selling_type_Dealer  Selling_type_Individual
0       ritz  2014.0           3.35           5.59  ...                     NaN                  NaN                  NaN                      NaN
1        sx4  2013.0           4.75           9.54  ...                     NaN                  NaN                  NaN                      NaN
2       ciaz  2017.0           7.25           9.85  ...                     NaN                  NaN                  NaN                      NaN
3    wagon r  2011.0           2.85           4.15  ...                     NaN                  NaN                  NaN                      NaN
4      swift  2014.0           4.60           6.87  ...                     NaN                  NaN                  NaN                      NaN
..       ...     ...            ...            ...  ...                     ...                  ...                  ...                      ...
296      NaN     NaN            NaN            NaN  ...                     0.0                  1.0                  1.0                      0.0
297      NaN     NaN            NaN            NaN  ...                     0.0                  1.0                  1.0                      0.0
298      NaN     NaN            NaN            NaN  ...                     0.0                  1.0                  1.0                      0.0
299      NaN     NaN            NaN            NaN  ...                     0.0                  1.0                  1.0                      0.0
300      NaN     NaN            NaN            NaN  ...                     0.0                  1.0                  1.0                      0.0

[602 rows x 13 columns]

In [44]:
df_final.dropna()

Empty DataFrame
Columns: [Car_Name, Year, Selling_Price, Present_Price, Driven_kms, Fuel_Type, Selling_type, Transmission, Owner, Fuel_Type_CNG, Fuel_Type_Diesel, Fuel_Type_Petrol, Transmission_Automatic, Transmission_Manual, Selling_type_Dealer, Selling_type_Individual]
Index: []

In [45]:
df_final.isnull().sum()

Car_Name                   301
Year                       301
Selling_Price              301
Present_Price              301
Driven_kms                 301
Fuel_Type                  301
Selling_type               301
Transmission               301
Owner                      301
Fuel_Type_CNG              301
Fuel_Type_Diesel           301
Fuel_Type_Petrol           301
Transmission_Automatic     301
Transmission_Manual        301
Selling_type_Dealer        301
Selling_type_Individual    301
dtype: int64

In [65]:
df_final['Car_Age'] = 2025 - df_final.Year
df_final.drop(['Year'],axis=1)
df_final.head()

  Car_Name    Year  Selling_Price  Present_Price  ...  Transmission_Manual Selling_type_Dealer Selling_type_Individual Car_Age
0     ritz  2014.0           3.35           5.59  ...                  NaN                 NaN                     NaN    11.0
1      sx4  2013.0           4.75           9.54  ...                  NaN                 NaN                     NaN    12.0
2     ciaz  2017.0           7.25           9.85  ...                  NaN                 NaN                     NaN     8.0
3  wagon r  2011.0           2.85           4.15  ...                  NaN                 NaN                     NaN    14.0
4    swift  2014.0           4.60           6.87  ...                  NaN                 NaN                     NaN    11.0

[5 rows x 17 columns]

In [49]:
#There are too many names to encode so i'm gonna just use the top 5 most popular ones
df_final = df_final.drop(df_final['Car_Name'].value_counts() < 10,axis=0)

KeyError: '[False False False False False True True True True True True True True\n True True True True True True True True True True True True True True\n True True True True True True True True True True True True True True\n True True True True True True True True True True True True True True\n True True True True True True True True True True True True True True\n True True True True True True True True True True True True True True\n True True True True True True True True True True True True True True\n True] not found in axis'

In [ ]:
df_final.head(2)